{% extends 'quotes/base.html' %}

{% block content %}
  <h2>Registration</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>
    <label for="password1">Password:</label>
    <input type="password" name="password1" id="password1" required><br><br>
    <label for="password2">Repeat password:</label>
    <input type="password" name="password2" id="password2" required><br><br>
    <input type="submit" value="Register">
  </form>
{% endblock %}



  